.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.recipes__title {
  max-width: 580px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  margin: 0;

  position: relative;
  margin-top: 100px;
  left: 80px;
}
.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  max-width: 438px;
  position: relative;
  left: 80px;
}
.recipes__videos {
  margin: 80px auto 215px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 480px;
  max-width: 1000px;
  row-gap: 24px;
  column-gap: 40px;
}
.recipes__iframe {
  border: 0;
}
.recipes__video-caption {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  flex-grow: 1;
  max-width: 480px;
}
